@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 16px;
  margin-bottom: auto;
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 0px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B6E388;
}

img {
  height: 200px;
}

nav {
  border-bottom: 1px black;
  padding: 16px;
  background-color: #D94F04;
}

a:hover {
    color: green;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a#white:visited {
  color: white;
}

.green {
  color: green;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

tr:nth-child(even) {
  background-color: lightgray;
}
